.slider_item {
  position: relative;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(249 69 39) !important;
  font-size: 60px !important;
}

.destination-slider > .slick-slider {
  position: relative;
}

.destination-slider > .slick-slider > .slick-prev {
  position: absolute;
  top: -90px;
  left: 930px;
}

.destination-slider > .slick-slider > .slick-next {
  position: absolute;
  top: -90px;
  right: 90px;
}

/* .destination-slider > .slick-slider > .slick-prev ::before {
  font-size: 60;
}

.destination-slider > .slick-slider > .slick-next ::before {
  font-size: 60;
} */

.event-slider .slick-slider > .slick-prev {
  left: -65px;
}
