@model API.ViewModels.PendingViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông tin chi tiết vé</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>

</head>

<body>
    <main>
        <img style="height: 99vh; width: 100%; background-repeat: no-repeat; background-size: cover; background-position: center" src="@Model.imgUrl" />
    </main>
</body>
</html>
